NODE_ENV=
PORT=

DATABASE_URL=

REDIS_DATABASE_URL=

BCRYPT_SALT_ROUND=

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=

JWT_RESET_TOKEN_SECRET=
JWT_RESET_TOKEN_EXPIRES_IN=

USER_SERVICE_URL=

INTERNAL_SERVICE_SECRET=

ALLOWED_ORIGINS=

USER_CLIENT_URL=

SELLER_CLIENT_URL=
